<!doctype html>
<style>
    body {
        text-align: center;
        font-family: Verdana, sans-serif;
    }

    form input {
        border-radius: 5pt;
        padding: 5pt;
        margin: 10pt;
    }
</style>

<html>
<head>
    <script type="text/javascript">

        function bakeCookie() {
            document.cookie = 'name=Cindy;max-age=60';
            alert("Cookie has been created: " + document.cookie);
            
        }

        function checkCookie() {
            if (document.cookie) {
                alert("Cookie has been checked: " + document.cookie);
            }
            else {
                alert("No cookie has been found");

            }
        }

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
            alert(getCookie("yeet"));
        }

        
        
    </script>
</head>
<body>

    <button onclick="bakeCookie()">Maak Cookie</button>
    <button onclick="checkCookie()">Check Cookie</button>
    <button onclick="getCookie()">Get Cookie</button>


    <!--<div id="showForm">
    <form method="post">
        <input hidden value="create" />
        <input type="text" name="taak" placeholder="Taak" />
        <br />
        <input type="submit" id="createButton" value="Taak aanmaken" onclick="get_cookie()" />
    </form>
    </div>
    <form method="post">
        <input hidden value="update" />
        <input type="text" name="taak" placeholder="Taak" />
        <br />
        <input type="submit" id="ubutton" value="Taak aanmaken" onclick="test1()" />
    </form>
    <form method="delete">
        <input hidden value="delete" />
        <input type="text" name="taak" placeholder="Taak" />
        <br />
        <input type="submit" id="dbutton" value="Taak aanmaken" onclick="test2()" />
    </form>-->
</body>
</html>
