<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>@Model.Title</title>

	<script src="/editor/lib/codemirror.js"></script>
	<link rel="stylesheet" href="/editor/lib/codemirror.css">
	<link rel="stylesheet" href="/editor/theme/idea.css">
	<script id="mode" src="/editor/mode/@(Model.Language)/@(Model.Language).js"></script>
	<script src="/dev/script.js"></script>
	<style>
		body {
			margin: 0
		}
	</style>
</head>
<body>
	<pre>
@Model.Data
	</pre>
</body>
</html>